#include "{{.#name|lower}}.h"

#include <QtGui>
#include <QRegExp>

{{.#name}}::{{.#name}}(QString def):
    Symbol("{{.#id}}", "{{pattern}}"), m_def(def)
{
  QRegExp rx(m_pattern);
  if (!rx.exactMatch(def))
    throw InvalidSymbolException(def.toAscii());

  QStringList caps = rx.capturedTexts();
  {{constructor}}

  painterPath();
}

QPainterPath {{.#name}}::painterPath(void)
{
  if (m_valid)
    return m_cachedPath;

  m_cachedPath = QPainterPath();

  {{painterPath}}

ret:
  prepareGeometryChange();
  m_bounding = m_cachedPath.boundingRect();
  m_valid = true;

  return m_cachedPath;
}

{{function_body}}
