#include "{{.#name|lower}}.h"

#include <QtGui>
#include <QRegExp>

{{.#name}}::{{.#name}}(QString def):
    Symbol("{{.#id}}", "{{pattern}}"), m_def(def)
{
  QRegExp rx(m_pattern);
  if (!rx.exactMatch(def))
    throw InvalidSymbolException(def.toAscii());
  QStringList caps = rx.capturedTexts();
  {{constructor}}
}

QRectF {{.#name}}::boundingRect() const
{
  {{boundingRect}}
}

void {{.#name}}::paint(QPainter* painter,
    const QStyleOptionGraphicsItem*, QWidget*)
{
  {{paint}}
}

QPainterPath {{.#name}}::painterPath(void)
{
  QPainterPath path;
  {{painterPath}}
  return path;
}

{{function_body}}
