#include "{{.#name|lower}}.h"

#include <QtGui>
#include <QRegExp>

#include "macros.h"

{{includes}}

{{.#name}}::{{.#name}}(QString def, Polarity polarity):
    Symbol(def, "{{pattern}}", polarity), m_def(def)
{
  QRegExp rx(m_pattern);
  if (!rx.exactMatch(def))
    throw InvalidSymbolException(def.toAscii());

  QStringList caps = rx.capturedTexts();
  {{constructor}}

  m_bounding = painterPath().boundingRect();
}

QPainterPath {{.#name}}::painterPath(void)
{
  QPainterPath path;

  {{painterPath}}

  return path;
}

{{function_body}}
